# FastAPI & API
fastapi
uvicorn
python-multipart

# Database
sqlalchemy
psycopg2-binary

# Auth & Security
python-jose
passlib
python-dotenv
pydantic
pydantic-settings

# External Storage
supabase

# CORS & API
fastapi-cors
requests

# Data validation
email-validator
